[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-registration-redux = "*"
mimesis = "*"
"psycopg2" = "*"
gunicorn = "*"
django-heroku = "*"
[requires]
python_version = "3.7"
