body {
    background-color: #dae0e6;
}
.title {
    text-align: center;
}
.container {
    padding: 20px 30px;
    margin: 30px auto;
}
.container.button-controls {
    padding: 0;
}
.button_container {
    padding: 0 30px;
    margin: 0;
    text-align: right;
}
.container .post-section {
    display: flex;
}
.voting {
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.voting p {
    font-size: 2rem;  
}
.voting i {
    font-size: 3rem;
}
.post-content .post-title {
    line-height: 1;
    display: inherit;
}
.post-content .author{
    margin-bottom: .75rem;
}
.post-content .post-description {
    margin-bottom: 1.75rem;
}
.comment-section { 
    padding-left: 70px;
}
.comment-section .comment-content{
    border-left: 3px solid green;
    padding-left: 15px;
    margin-bottom: 30px;
}
.post-page .post-section{
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
    padding-bottom: 10px
}