body {
    background-color: #dae0e6;
}
.title {
    text-align: center;
}
.container {
    padding: 20px 30px;
    margin: 30px auto;
}
.container .post-box {
    display: flex;
}
.voting {
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.voting p {
    font-size: 2rem;
}
.voting i {
    font-size: 3rem;
}
.post-content .post-title {
    line-height: 1;
    display: inherit;
}
.post-content .author{
    margin-bottom: .75rem;
}
.post-content .post-description {
    margin-bottom: 1.75rem;
}