{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container post-page">
    <div class="box post-box">
        <div class="post-section">
            <div class="voting">
                <i class="fas fa-caret-up" name="{{ post.slug }}"></i>
                <p name="{{ post.slug }}">{{ post.get_total_count }}</p>
                <i class="fas fa-caret-down" name="{{ post.slug }}"></i>
            </div>
            <div class="post-content">
                <span>
                    <h2 class="post-title has-text-weight-bold is-size-5">
                        <a href="{% url 'get_post' slug=post.slug %}">{{ post.title }}</a>
                    </h2>
                    <a href="{{ post.link }}" target="_blank" class="button is-info is-outlined is-small">Link to Article</a></span>
                <p class="author has-text-grey">{{ post.author }}</p>
                <p class="post-description">{{ post.description }}</p>
                    
                <div class="controls">
                    <p class="post-info">
                        {% if user == post.author or user.is_staff %}
                            <a class="button" href="{% url 'delete_post' slug=post.slug %}"><i class="fas fa-trash-alt"></i> &nbsp; Delete</a>
                        {% endif %}
                        <span class="has-text-grey">{{ comments.count }} Comment{{ comments.count|pluralize }}</span>
                    </p>

                </div>
            </div>      
        </div>
        <div class="comment-section">
            {% if user.is_authenticated %}
            <div class="comment-content">
                <form action="" method="POST" role="form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="button is-primary">Submit</button>
                
                </form>
                
            </div>
            
            {% endif %}
            
            {% for comment in comments %}
            <div class="comment-content">
                <p class="author"><strong>{{ comment.commenter }}</strong></p>
                <p class="has-text-grey">{{ comment.created }}</p>
                <p class="post-description">{{ comment.text }}</p>
                <a class="button" href="{% url 'delete_comment' id=comment.id %}"><i class="fas fa-trash-alt"></i> &nbsp; Delete</a>
            </div>
            {% endfor %}
        
        </div>
    </div>
    
</div>

{% endblock content %}