{% extends 'base.html' %}
{% block content %}
<h1 class="container title is-1">Posts for {{ user }}</h1>
    {% for post in posts %}
       <div class="container">  

            <div class="box post-box">
                <div class="post-section">
                    </div>
                    <div class="post-content">
                        <span>
                            <h2 class="post-title has-text-weight-bold is-size-5">
                                <a >{{ post.title }}</a>
                            </h2>
                            <a href="{{ post.link }}" target="_blank" class="button is-info is-outlined is-small">Link to Article</a></span>
                        <p class="author has-text-grey">{{ post.author }}</p>
                        <p class="post-description">{{ post.description }}</p>
                            {% if user == post.author or user.is_staff %}
                                <a class="button" href="{% url 'delete_post' slug=post.slug %}"><i class="fas fa-trash-alt"></i> &nbsp; Delete</a>
                            {% endif %}
                        <div class="controls">
                            <p class="post-info">
                            </p>
                        </div>
                    </div>      
                </div><!--post-section-->
            </div><!--post-box-->
        </div><!--Container End-->

    {% endfor %}
    
{% endblock content %}