{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Registration-Form {{ block.super }}
{% endblock title %}
{% block content %}
        <h1> Registration Form </h1>
        <form role="form" action='' method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="button is-primary">Submit</button>
        </form>

        {% if form.errors is not None %}
            {% for key, error in form.errors.items %}
                <p>{{ error }}</p>
            {% endfor %} 
        {% endif %}
    
{% endblock content %}